<h1 class="page-header">Slack</h1>

<div id="messages">
</div>

<input id="input" class='form-control' type=text />


<style>
  #messages {
    min-height: 300px;
    background-color: #ddd;
  }
</style>
